.container-slide-track {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  .slide-track {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-right {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    animation: scroll-right 30s linear infinite;
  }

  .carousel-left {
    display: flex;
    align-items: center;
    animation: scroll-left 30s linear infinite;
  }
  .carousel-right:hover {
    animation-play-state: paused;
  }

  .carousel-left:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .carousel-card {
    flex: 0 0 10rem;
    margin: 0 1rem;
  }
  
  .carousel-card img {
    width: 100%;
  }