.container-slide-track {
    place-items: center;
    display: grid;
    min-height: 50vh;
  }
  .slide-track {
    width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    text-align: center;
  }
  
  .carousel-right {
    height: 15rem;
    display: flex;
    width: calc(10rem * 20);
    animation: scroll-right 40s linear infinite;
    display: flex;
    align-items: center;
  }

  .carousel-left {
    height: 15rem;
    display: flex;
    width: calc(10rem * 20);
    animation: scroll-left 40s linear infinite;
    display: flex;
    align-items: center;
  }
  .carousel-right:hover {
    animation-play-state: paused;
  }

  .carousel-left:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-8rem * 10));
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(8rem * 10));
    }
  }

  .carousel-card {
    height: 10rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    margin-right: 18px;
  }
  
  .carousel-card img {
    width: 100%;
  }